SNOW-2878935: PUT parses the file URI incorrectly

Please answer these questions before submitting your issue. 
In order to accurately debug the issue this information is required. Thanks!

1. What version of .NET driver are you using?
   5.2.0

2. What operating system and processor architecture are you using?
   x86_64
   
3. What version of .NET framework are you using?
   9 and 10
   
4. What did you do?

   Send a `PUT file:///C:/temp/test.json @%TABLE`
   This results in a `SnowflakeDbException` containing an `IOException` stating that the syntax for the filename is wrong: 'C:\C:\temp\test.json'.

5. What did you expect to see?

   The file should be uploaded to the table stage without an error.

6. Can you set logging to DEBUG and collect the logs?
   Yes, but probably not necessary.



I think the problem lies in the URI handling in [`SFFileTransferAgent.getFilePathFromPutCommand()`](https://github.com/snowflakedb/snowflake-connector-net/blob/master/Snowflake.Data/Core/FileTransfer/SFFileTransferAgent.cs#L530-L532). 
According to [RFC3986 section 3.2](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2) the `//` does indicate than an authority follows which is then terminated by a single `/`. 
[RFC8089 section 2](https://datatracker.ietf.org/doc/html/rfc8089#section-2) makes that explicit for the `file:`-scheme: To address local files you can use either `localhost` as authority or leave the autority an empty string or skip the whole authority and start the absolute path directy after the colon. The second one leads to three slashes (`file:///`). See also the Examples in [RFC8089 appendix B](https://datatracker.ietf.org/doc/html/rfc8089#appendix-B).  

URIs in the format of `file://absoluteLocalPath` are not valid according to the specs. But that's what your implementation in the aformentioned method expects. 
I would suggest to use the `System.Uri` class to extract the `AbsolutePath` or `LocalPath` from the URI. It will even work for the invalid two-slash-case and the no-authority case

As a workaround i will replace `file:///` with `file://` for now. but it would be nice to have a correct implementation here.

hello @kleferbe , please use the current 'workaround' as the solution.

The current behaviour you observe, conforms to the documented and expected behaviour of Snowflake drivers . (not just this one)

Reference: https://docs.snowflake.com/en/sql-reference/sql/put#required-parameters
> `file://absolute_path_to_file/filename`
> Specifies the URI for the data files on the client machine, where:
> 
> absolute_path_to_file is the local directory path to the files to upload.
> ..
> Windows
> Specify the absolute path from the root of the drive where the file or files are located. For example, for a file named `my-data.csv` use `file://C:temp\my-data.csv`.

One can argue whether it's conformant to the RFC cited or not indeed, but it is definitely conformant to the expected and documented behaviour. 

Let me know please if you have further questions. 